body{
    background-color: #000000;
    margin-top: 20px;
}
header{
    position: absolute;
    left:200px;
    top: 19px;
    z-index: 4;
}

p{
    /*color: lightgreen;*/
    /*font-size: 80%;*/
    /*font-weight: 400;*/
    /*font-family: sans-serif;*/
/*    position: relative;
    left:200px;
    z-index: 4;*/
    color:#33FF66;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
#container{
    position: absolute;
    left: 0px;
    top:0px;
    /*width:960px;
    height: 800px;
    background-color: #000000;*/
}
.lightning{
    position: absolute;
    left:0px;
    top: 0px;
    display: none;
    z-index: 0;
}
#frame{
    position: absolute;
    left:100px;
    top:120px;
    width:545px;
    height: 629px;
    background-image: url(../images/frame.png);
    z-index: 0;
    /*overflow: hidden;*/
}
#pic_box{
    position:relative;
    left:91px;
    top: 84px;
    width: 367px;
    height: 460px;
    z-index: 0;
    overflow: hidden; /*this property is very important!!!*/
}
.face{
    position:relative;
    left:0px;
    top:0px;
    z-index: 0;
}
#head{
    height: 172px;
}
#eyes{
    height:79px;
}
#nose{
    height:86px;

}
#mouth{
    height: 117px;
}